body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: darkgrey;
    font-family: Roboto, sans-serif;
}

.header {
    z-index: 1;
    height: 25px;
    padding: 15px;
    background-color: #1c1c1c;
    box-shadow: inset 0 0 0 1px black;
}

.center {
    display: flex;
    flex: auto;
    overflow-y: auto;
}

.sidebar {
    width: 10%;
    padding: 15px;
    background-color: black;
    box-shadow: inset 0 0 0 1px black;
}

.content {
    flex: auto;
    padding: 5px 25px;
    background-color: #101010;
    box-shadow: inset 0 0 0 1px black;
}

.footer {
    z-index: 1;
    padding: 15px;
    background-color: #1c1c1c;
    box-shadow: inset 0 0 0 1px black;
}

.playbar {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.playbarLeft {
    margin: 0 10px;
    display: flex;
    align-content: center;
    flex: 1;
}

.playbarLeft p {
    padding: 0;
    margin: 0;
}

.playbarLeft .trackInfoContainer {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.playbar #trackImage {
    background-color: black;
    border: 1px solid black;
}

.playbarLeft #trackName {
    font-weight: bold;
}

.playbarLeft #trackArtist {
    font-weight: normal;
}

.playbarMiddle {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    flex-direction: column;
    flex: 1;

    align-items: center;
}

.playbarMiddle button {
    background: none;
    border: 0;
}

.playbarMiddle button:focus {
    outline: none;
}

.playbarMiddle #repeatDot {
    position: absolute;
    font-size: x-small;
    display: none;
}

.playbarRight {
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-flow: wrap;
    flex: 1;
}

h1 {
    color: white;
}

a {
    color: darkgrey;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

.sideBarLink:hover, .sideBarLink:active, .sideBarLink:focus{
    filter: brightness(1.5);
    text-decoration: none;
}

#sideBarTest {
  display: flex;
  align-items: center;
}

#progressBarContainer {
    width: 100%;
    margin: auto;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressBarControl {
    -webkit-appearance: none;
    appearance: none;

    height: 5px;
    background: darkgrey;
    width: 70%;
}

/* style to remove blue shade of the progress bar when clicked on/selected */
#progressBarControl:focus {
    outline: none;
}

/* style for the progress bar's slider thumb */
#progressBarControl::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: 13px;
    width: 13px;
    background: white;
    border-radius: 30px;
}

/* style for the progress bar's runnable track */
#progressBarControl-bar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;

    max-height: 5px;
    border-radius: 30px;
}

#currentTimeLabel {

}

#totalTimeLabel {

}

/* Google Material Icons stuff */
/* - from the guide at https://google.github.io/material-design-icons/ */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light:hover { color: rgba(150, 150, 150, 1); }
.material-icons.md-light:focus { color: rgba(150, 150, 150, 1); }
.material-icons.md-light:active { color: rgba(125, 125, 125, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-light.md-inactive:hover { color: rgba(255, 255, 255, 0.4); }
.material-icons.md-light.md-inactive:focus { color: rgba(255, 255, 255, 0.4); }
.material-icons.md-light.md-inactive:active { color: rgba(255, 255, 255, 0.5); }

.material-icons:hover {
    cursor: default;
}

/*MDC Sliders*/
.mdc-slider.mdc-slider--discrete { display: flex; justify-content: center; }






