body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    z-index: 1;
    height: 25px;
    padding: 15px;
    background-color: green;
    box-shadow: inset 0 0 0 1px black;
}

.center {
    display: flex;
    flex: auto;
    overflow-y: auto;
}

.sidebar {
    width: 10%;
    padding: 15px;
    background-color: red;
    box-shadow: inset 0 0 0 1px black;
}

.content {
    flex: auto;
    padding: 5px 25px;
    background-color: lightgrey;
    box-shadow: inset 0 0 0 1px black;
}

.footer {
    z-index: 1;
    padding: 15px;
    background-color: darkgrey;
    box-shadow: inset 0 0 0 1px black;
}

.playbar {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.playbarLeft {
    margin: 0 10px;
    display: flex;
    align-content: center;
    flex: 1;
}

.playbarLeft p {
    padding: 0;
    margin: 0;
}

.playbarLeft .trackInfoContainer {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.playbar #trackImage {
    background-color: black;
}

.playbarLeft #trackName {
    font-weight: bold;
}

.playbarLeft #trackArtist {
    font-weight: normal;
}

.playbarMiddle {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.playbarMiddle button {
    height: 25px;
}

.playbarRight {
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex: 1;
}

/* Will update how all the buttons react on hover once we get the webplayer color scheme figured out */
#playbackControl:hover { font-size: 38px; }

/* Google Material Icons stuff */
/* - from the guide at https://google.github.io/material-design-icons/ */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons:hover {
    cursor: default;
}




