* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    height: 100vh;
    width: 100vw;
    /*margin: 0;*/
    /*overflow: hidden;*/
    background-color: darkgrey;
    font-family: Roboto, sans-serif;
}

nav {
    background: #1c1c1c;
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
}

.splashNav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.splashContainer{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.navButtons{
    display: flex;
}

.navButtons li{
    margin: 0 10px;
    align-self: flex-end;
}

.splashButton{
    margin: 0 10px;
}

.splashRedirect.button{
}

.overviewText{
    color: white;
}