<fieldset class="playbar">
    <span class="playbarLeft">
        <img class="Album" id="trackImage" src="" alt="Album Cover" width="64" height="64" data-uri="">
        <div class="trackInfoContainer">
            <p class="Song" id="trackName" data-uri="">Track Name</p>
            <span id="trackArtistContainer">Track Artist(s)</span>
        </div>

<!--        <button id="helperButtonControl">click me</button>-->
    </span>
    <span class="playbarMiddle">
        <div class="trackControllers">
            <button id="shuffleTrackControl" class="material-icons md-36 md-light md-inactive" aria-label="Shuffle">shuffle</button>
            <button id="previousTrackControl" class="material-icons md-36 md-light md-inactive" aria-label="Previous Track">skip_previous</button>
            <button id="playbackControl" class="material-icons md-36 md-light md-inactive" aria-label="Play">play_arrow</button>
            <button id="nextTrackControl" class="material-icons md-36 md-light md-inactive" aria-label="Next Track">skip_next</button>
            <button id="repeatTrackControl" class="material-icons md-36 md-light md-inactive" aria-label="Loop Track">loop<span id="repeatDot">album</span></button>
        </div>
        <div id="progressBarContainer">
            <span id="progressTimeLabel" style="font-size: 12px">00:00</span>
            <input
              type="range"
              id="progressBarControl"
              min="0"
              max=""
              value="0"
            />
            <span id="durationTimeLabel" style="font-size: 12px"></span>
        </div>
    </span>
    <span class="playbarRight">
        <button class="ConnectionStatus material-icons md-24 md-light md-inactive">wifi_off</button>
        <div class="volumeController">
            <div class="mdc-slider mdc-slider--discrete">
                <span id="volumeIcon" class="material-icons md-light md-36">volume_down</span>
                <input class="mdc-slider__input" type="range" value="100" min="0" max="100" step="1" name="volume" aria-label="Volume Slider">
                <div class="mdc-slider__track">
                <div class="mdc-slider__track--inactive"></div>
                <div class="mdc-slider__track--active">
                  <div class="mdc-slider__track--active_fill"></div>
                </div>
                </div>
                <div class="mdc-slider__thumb">
                <div class="mdc-slider__thumb-knob"></div>
                </div>
            </div>
        </div>
    </span>
</fieldset>

<script>
    const UPDATE_PROGRESS_MS_INTERVAL_AMT = 1000;

    const progressTimeLabel = document.getElementById("progressTimeLabel");
    const progressBarControl = document.getElementById('progressBarControl');
    const durationTimeLabel = document.getElementById("durationTimeLabel");

    let deviceID;
    let deviceState;
    let repeatStatus;
    let isPlaying = false;
    let isShuffled = false;
    let initializeStates = true;
    let repeatTimeout = false;
    let shuffleTimeout = false;
    let progressMsHelper;
    let updateProgressMsHelperIntervalID;
    let updateProgressBarLblSldrIntervalID;

    // SpotifySDK initializers and events
    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = '{{ userAccessCode }}';
        const player = new Spotify.Player({
            name: 'Modivibe',
            getOAuthToken: cb => { cb(token); }
        });

        // Error handling
        player.addListener('initialization_error', ({message}) => { $('.ConnectionStatus').text('wifi_off'); console.error(message);  });
        player.addListener('authentication_error', ({message}) => { $('.ConnectionStatus').text('wifi_off'); console.error(message); });
        player.addListener('account_error', ({message}) => { console.error(message); });
        player.addListener('playback_error', ({message}) => { console.error(message); });

        // Playback status updates
        player.addListener('player_state_changed', state => {
            // console.log(state);
            console.log(state, "******* player_state_changed listener *******");

            if (state === null) $('.ConnectionStatus').text('wifi_off');
            else $('.ConnectionStatus').text('wifi');
            deviceState = state;

            // Progress bar updates
            // ryan: temp for now - This listener gets called by the track controllers so updating the progress bar stuff
            //                          here works "decently", but it can probably be moved somewhere better.
            //                      The reason why it's here is the reliance on the deviceState object.
            progressBarControl.max = deviceState.duration / 1000; // want it in seconds
            progressMsHelper = deviceState.position; // current position of the current track
            updateProgressBarLblSldr(); // only here for the initial webplayer/page loading

            // Update Track Name in Player
            let trackURI = deviceState['track_window']['current_track']['uri'];
            $('#trackName').attr('data-uri', trackURI);
            $('#trackName').text(deviceState['track_window']['current_track']['name']);

            // Update Track Artists in Player
            let artists = getArtistAsLinks(deviceState['track_window']['current_track']['artists']);
            $('#trackArtistContainer').html(artists);

            // Update Track Image in Player
            let albumURI = deviceState['track_window']['current_track']['album']['uri'];
            $('#trackImage').attr('data-uri', albumURI);
            $('#trackImage').prop('src', deviceState['track_window']['current_track']['album']['images'][1]['url']);

            // Update Play/Pause button and toggle variable
            isPlaying = !deviceState['paused'];
            let playbackStatus = isPlaying ? 'pause' : 'play_arrow';
            $('#playbackControl').text(playbackStatus);

            // Update Repeat Status
            repeatStatus = deviceState['repeat_mode'];
            switch(repeatStatus) {
                case 0: $('#repeatTrackControl').addClass('md-inactive'); $('#repeatDot').css('display','none'); break; // Loop Off
                case 1: $('#repeatTrackControl').removeClass('md-inactive'); $('#repeatDot').css('display','none'); break; // Loop Context
                case 2: $('#repeatTrackControl').removeClass('md-inactive'); $('#repeatDot').css('display','inline'); break; // Loop Track
                default: break;
            }

            // Update Shuffle Status
            isShuffled = deviceState['shuffle'];
            if (isShuffled) $('#shuffleTrackControl').removeClass('md-inactive');
            else $('#shuffleTrackControl').addClass('md-inactive');

            // Update Queue - Last Song 2
            if(deviceState['track_window']['previous_tracks'][0])
            {
                $('#QueueLast2 .Song').text(deviceState['track_window']['previous_tracks'][0]['name']);
                $('#QueueLast2 .Album').attr('data-uri', deviceState['track_window']['previous_tracks'][0]['album']['uri']);
                $('#QueueLast2 .Album').prop('src', deviceState['track_window']['previous_tracks'][0]['album']['images'][1]['url']);
                $('#QueueLast2 .ArtistContainer').html(getArtistAsLinks(deviceState['track_window']['previous_tracks'][0]['artists']));
                $('#QueueLast2').show();
            } else {
                $('#QueueLast2').hide();
            }

            // Update Queue - Last Song 1
            if(deviceState['track_window']['previous_tracks'][1]) {
                $('#QueueLast1 .Song').text(deviceState['track_window']['previous_tracks'][1]['name']);
                $('#QueueLast1 .Album').attr('data-uri', deviceState['track_window']['previous_tracks'][1]['album']['uri']);
                $('#QueueLast1 .Album').prop('src', deviceState['track_window']['previous_tracks'][1]['album']['images'][1]['url']);
                $('#QueueLast1 .ArtistContainer').html(getArtistAsLinks(deviceState['track_window']['previous_tracks'][1]['artists']));
                $('#QueueLast1').show();
            } else {
                $('#QueueLast1').hide();
            }

            // Update Queue - Current Song
            $('#QueueCurrent .Song').text(deviceState['track_window']['current_track']['name']);
            $('#QueueCurrent .Album').attr('data-uri', albumURI);
            $('#QueueCurrent .Album').prop('src', deviceState['track_window']['current_track']['album']['images'][1]['url']);
            $('#QueueCurrent .ArtistContainer').html(artists);

            // Update Queue - Next Song 1
            if (deviceState['track_window']['next_tracks'][0]['artists']) {
                $('#QueueNext1 .Song').text(deviceState['track_window']['next_tracks'][0]['name']);
                $('#QueueNext1 .Album').attr('data-uri', deviceState['track_window']['next_tracks'][0]['album']['uri']);
                $('#QueueNext1 .Album').prop('src', deviceState['track_window']['next_tracks'][0]['album']['images'][1]['url']);
                $('#QueueNext1 .ArtistContainer').html(getArtistAsLinks(deviceState['track_window']['next_tracks'][0]['artists']));
                $('#QueueNext1').show();
            } else {
                $('#QueueNext1').hide();
            }

            // Update Queue - Next Song 2
            if (deviceState['track_window']['next_tracks'][1]['artists']) {
                $('#QueueNext2 .Song').text(deviceState['track_window']['next_tracks'][1]['name']);
                $('#QueueNext2 .Album').attr('data-uri', deviceState['track_window']['next_tracks'][1]['album']['uri']);
                $('#QueueNext2 .Album').prop('src', deviceState['track_window']['next_tracks'][1]['album']['images'][1]['url']);
                $('#QueueNext2 .ArtistContainer').html(getArtistAsLinks(deviceState['track_window']['next_tracks'][1]['artists']));
                $('#QueueNext2').show();
            } else {
                $('#QueueNext2').show();
            }

            if(initializeStates) {
                // This will only run once!
                initializeStates = false;

                // Track controls are now available
                $('#playbackControl').removeClass('md-inactive');
                $('#previousTrackControl').removeClass('md-inactive');
                $('#nextTrackControl').removeClass('md-inactive');

                // ryan: temp for now - trying to always get the duration label to update correctly
                durationTimeLabel.textContent = millisToMinutesAndSeconds(deviceState.duration);
            }
        });

        // Ready
        player.addListener('ready', ({device_id}) => {
            console.log('Ready with Device ID', device_id);
            deviceID = device_id;
            // Trigger playback transfer to Modivibe
            transferPlayback();
            $('.ConnectionStatus').text('wifi');
        });

        // Not Ready
        player.addListener('not_ready', ({device_id}) => {
            console.log('Device ID has gone offline', device_id);
            $('.ConnectionStatus').text('wifi_off');
        });

        // Connect to the player!
        player.connect();
    }

    // Button event bindings
    $('#playbackControl').on('click', togglePlayback);
    $('.mdc-slider__input').on('change', setVolume);
    $('#previousTrackControl').on('click', previousTrack);
    $('#nextTrackControl').on('click', nextTrack);
    $('#shuffleTrackControl').on('click', toggleShuffle);
    $('#repeatTrackControl').on('click', toggleRepeat);
    $('.ConnectionStatus').on('click', transferPlayback);

    // $('#helperButtonControl').on('click', helperButton);
    // $('#progressBarControl').on('change', updateProgressBarSliderThumb);

    // Button event functions
    function transferPlayback() {
        console.log('Attempting to transfer playback');
        $.ajax({
            type: "POST",
            url: "{% url 'transferPlayback' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                device_id: deviceID,
            },
            success: function(response) {
                if (response == 'True') {
                    console.log('Successfully transferred playback');
                } else {
                    console.log('Failed to resume playback');
                }
            }
        });
    }

    function togglePlayback(event){
        let playbackRequest = (isPlaying) ? 'pause' : 'play';
        console.log(`Requesting playback: ${playbackRequest}`);

        $.ajax({
            type: "POST",
            url: "{% url 'setPlayback' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                device_id: deviceID,
                status: playbackRequest
            },
            success: function(response) {
                if (response == 'True') {
                    console.log(`Success: ${playbackRequest}`);

                    // ryan: temp for now - trying to always get the duration label to update correctly
                    durationTimeLabel.textContent = millisToMinutesAndSeconds(deviceState.duration);

                    // ryan: Update intervals are tied together but I'm keeping the functions separate for now
                    if (!isPlaying) {
                        // The song is paused so stop the progress bar timers
                        clearInterval(updateProgressMsHelperIntervalID);
                        clearInterval(updateProgressBarLblSldrIntervalID);
                    } else {
                        // The song is playing so start the progress bar timers
                        updateProgressMsHelperIntervalID = setInterval(updateProgressMsHelper, UPDATE_PROGRESS_MS_INTERVAL_AMT);
                        updateProgressBarLblSldrIntervalID = setInterval(updateProgressBarLblSldr, UPDATE_PROGRESS_MS_INTERVAL_AMT);
                    }
                } else {
                    console.log(`Failed: ${playbackRequest}`);
                }
            }
        });
    }

    function setVolume(event) {
       console.log('Attempting to set volume');
       $.ajax({
            type: "POST",
            url: "{% url 'setVolume' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                device_id: deviceID,
                volume: $(this).val()
            },
            success: function(response) {
                if (response == 'True') {
                    console.log('Successfully set volume');
                    if ($('.mdc-slider__input').val() <= 0) { $('#volumeIcon').text('volume_mute'); }
                    else if ($('.mdc-slider__input').val() <= 49) { $('#volumeIcon').text('volume_down'); }
                    else if ($('.mdc-slider__input').val() <= 100) { $('#volumeIcon').text('volume_up'); }
                } else {
                    console.log('Failed to set volume');
                }
            }
        });
    }

    function getVolume() {
     console.log('Attempting to retrieve volume');
       $.ajax({
            type: "POST",
            url: "{% url 'getVolume' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                device_id: deviceID,
            },
            success: function(response) {
                if (response != 'False') {
                    console.log('Successfully retrieved volume');
                    console.log(response);
                } else {
                    console.log('Failed to retrieve volume');
                }
            }
        });
    }

    function previousTrack(event) {
        console.log('Attempting to play previous track');
        $.ajax({
            type: "POST",
            url: "{% url 'previousTrack' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                device_id: deviceID,
            },
            success: function(response) {
                if (response == 'True') {
                    console.log('Successfully played previous track');

                    // ryan: temp for now - trying to always get the duration label to update correctly
                    durationTimeLabel.textContent = millisToMinutesAndSeconds(deviceState.duration);
                } else {
                    console.log('Failed to play previous track');
                }
            }
        });
    }

    function nextTrack(event) {
        console.log('Attempting to play next track');
        $.ajax({
            type: "POST",
            url: "{% url 'nextTrack' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                device_id: deviceID,
            },
            success: function(response) {
                if (response == 'True') {
                    console.log('Successfully played next track');

                    // ryan: temp for now - trying to always get the duration label to update correctly
                    durationTimeLabel.textContent = millisToMinutesAndSeconds(deviceState.duration);
                } else {
                    console.log('Failed to play next track');
                }
            }
        });
    }

    function toggleShuffle(event){
        if (shuffleTimeout) return;
        shuffleTimeout = true;
        let shuffleStatus = isShuffled ? 'disabled' : 'enabled';
        console.log(`Attempting to change shuffle to "${shuffleStatus}"`);
        $.ajax({
            type: "POST",
            url: "{% url 'setShuffle' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                device_id: deviceID,
                shuffle_status: shuffleStatus
            },
            success: function(response) {
                if (response == 'True') {
                    console.log('Successfully toggled shuffle');
                    shuffleTimeout = false;
                } else {
                    console.log('Failed to toggle shuffle');
                    shuffleTimeout = false;
                }
            }
        });
    }

    function toggleRepeat(event) {
        if (repeatTimeout) return;
        repeatTimeout = true;
        repeatStatus += 1;
        if (repeatStatus > 2 || repeatStatus < 0) repeatStatus = 0;
        console.log(`Attempt to toggle Repeat state from ${deviceState['repeat_mode']} to ${repeatStatus}`);
        $.ajax({
                type: "POST",
                url: "{% url 'setRepeat' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    device_id: deviceID,
                    repeat_status: repeatStatus
                },
                success: function(response) {
                    if (response != 'False') {
                        console.log(`Successfully toggled repeat state to ${response}`);
                        repeatTimeout = false;
                    } else {
                        console.log('Failed to toggle repeat state');
                        repeatStatus = deviceState['repeat_mode'];
                        repeatTimeout = false;
                    }
                }
        });
    }

    // Helper function for parsing artists from SpotifySDK into links
    function getArtistAsLinks(artistsList) {
        let artists = "";
        for(let i = 0; i < artistsList.length; i++){
            let artistURI = artistsList[i]['uri'];
            let artistID = artistURI.split(':')[2];
            artists += `<a class="Artist" href="artist/${artistID}" data-uri="${artistURI}">${artistsList[i]['name']}</a>`;
            if (i != artistsList.length - 1) artists += ", ";
        }
        return artists;
    }

    // For moving the progress/position bar while a track is playing
    function updateProgressMsHelper() {
        progressMsHelper += UPDATE_PROGRESS_MS_INTERVAL_AMT;
    }

    function updateProgressBarLblSldr() {
        progressTimeLabel.textContent = millisToMinutesAndSeconds(progressMsHelper);
        progressBarControl.value = progressMsHelper / 1000; // moves the slider as the value changes
    }

    // ryan: to-do
    // function progressBarSliderThumbChanged() {
    //     console.log('progressBarSliderThumbChanged()');
    //
    //     console.log('progressBar.value', progressBar.value);
    //     console.log("seconds: ", progressBar.value / 1000);
    //
    //     progressBar.value = (progressMsHelper / 1000);
    //     console.log('progressBar.value after', progressBar.value);
    // }

    // ryan: Temp to use while playing with the API
    // function helperButton() {
    //  console.log('Attempting to get current track info');
    //
    //    // $.ajax({
    //    //      type: "GET",
    //    //      url: "{% url 'helperButton' %}",
    //    //      data: {
    //    //          csrfmiddlewaretoken: '{{ csrf_token }}',
    //    //          device_id: deviceID,
    //    //      },
    //    //      success: function(response) {
    //    //          if (response != 'False') {
    //    //              console.log('Successfully retrieved current track info');
    //    //              console.log(response);
    //    //          } else {
    //    //              console.log('Failed to retrieve current track info');
    //    //          }
    //    //      }
    //    //  });
    //
    //     // console.log(deviceState);
    // }

</script>
