<!-- Temporary until we get the navbar in, just use the same url and make sure the id matches
the js file
<div><a id="MyPlaylists" href="{% url 'myplaylists' %}">Playlists</a></div>-->

<style>
    /* The side navigation menu */
    .sidenav {
        /* 0 width - change this with JavaScript */
        width: auto;
    }
    .extend {
      display: inline-block;
      background-color: transparent;
      border: none;
      color: #000000;
      text-align: center;
      font-size: 15px;
      transition: all 0.5s;
      cursor: pointer;
    }

    .extend span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .extend span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .extend:hover span {
      padding-right: 25px;
    }

    .extend:hover span:after {
        opacity: 1;
        right: 0;
    }
    @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
    .btn {
      height: auto;
      text-align: center;
      text-decoration: none;
      width: 200px;
      cursor: pointer;
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
    }

    .btn-three {
      color: #FFF;
      transition: all 0.5s;
      position: relative;
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(255,255,255,0.1);
      transition: all 0.3s;
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three:hover::before {
      opacity: 0 ;
      transform: scale(0.5,0.5);
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255,255,255,0.5);
      transform: scale(1.2,1.2);
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three:hover::after {
      opacity: 1;
      transform: scale(1,1);
    }

</style>

<nav id="mySidenav" class="sidenav">
   <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li>
          <a style="text-decoration: none;" href="{% url 'webplayer' %}">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">home</span> Home</span>
            </div>
          </a>
      </li>
       <a id="MyPlaylists" style="text-decoration: none;" href="{% url 'myplaylists' %}">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">playlist_play</span> Playlists</span>
            </div>
          </a>
      </li>
      <li>
          <a style="text-decoration: none;" href="#">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">radio</span> Radio</span>
            </div>
          </a>
      </li>
      <li>
          <a style="text-decoration: none;" href="{% url 'webplayer/settings' %}">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">settings</span> Settings</span>
            </div>
          </a>
      </li>
      <li>
          <a style="text-decoration: none;" href="#">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">music_note</span> Artists</span>
            </div>
          </a>
      </li>
      <li>
          <a style="text-decoration: none;" href="#">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">album</span> Albums</span>
            </div>
          </a>
      </li>
   </ul>
</nav>

<script>
    function openNav() {
      if (document.getElementById("mySidenav").hidden == true) {
          document.getElementById("mySidenav").hidden = false;
          document.getElementById("mySidenav").style.transition = "width 2s";
          document.getElementById("mySidenav").style.width = "auto";
      }
      else {
          document.getElementById("mySidenav").hidden = true;
          document.getElementById("mySidenav").style.width = "0px";
      }
    }
</script>