<style>
    /* The side navigation menu */
    .sidenav {
        /* 0 width - change this with JavaScript */
        width: auto;
    }
    .extend {
      display: inline-block;
      background-color: transparent;
      border: none;
      color: #000000;
      text-align: center;
      font-size: 15px;
      transition: all 0.5s;
      cursor: pointer;
    }

    .extend span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .extend span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .extend:hover span {
      padding-right: 25px;
    }

    .extend:hover span:after {
        opacity: 1;
        right: 0;
    }
    @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
    .btn {
      height: auto;
      text-align: center;
      text-decoration: none;
      width: 200px;
      cursor: pointer;
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
    }

    .btn-three {
      color: #FFF;
      transition: all 0.5s;
      position: relative;
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(255,255,255,0.1);
      transition: all 0.3s;
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three:hover::before {
      opacity: 0 ;
      transform: scale(0.5,0.5);
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255,255,255,0.5);
      transform: scale(1.2,1.2);
      border-radius: 10px 10px 10px 10px;
    }
    .btn-three:hover::after {
      opacity: 1;
      transform: scale(1,1);
    }

    .Queue {
        padding: 10px;
    }

    .Queue button {
        background: none;
        border: none;
    }

    .Queue button:focus {
        outline: none;
    }

    .Queue .QueueTitleContainer {
        display: flex;
        border-bottom: 1px solid white;
    }

    .Queue .QueueTitle {
        flex: 1;
        text-align: center;
        font-weight: bold;
    }

    .Queue .QueueSettings, .Queue .QueueToggle {
        align-self: center;
    }

    .Queue .QueueContainer {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
    }

    .Queue .QueueItem {
        background-color: #1c1c1c;
        margin: 5px 0;
        display: flex;
        align-content: space-between;
    }

    .Queue .QueueItem:hover {
        background: #101010;
    }

    .Queue .TrackInfoContainer {
        overflow: hidden;
        align-self: center;
    }

    .Queue .Song {
        font-weight: bold;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    .Queue .ArtistContainer {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        font-size: small;
    }

    .Queue .Album {
        margin-right: 10px;
        max-width: 48px;
        max-height: 48px;
        width: fit-content;
        height: fit-content;
    }

    .Queue #QueueCurrent {
        padding-left: 0;
    }

    .Queue #QueueCurrent .Album {
        max-width: 64px;
        max-height: 64px;
    }

    .Queue .QueuePointer {
        align-self: center;
    }

    .Queue .TopShadow {
        position: absolute;
        width: inherit;
        height: 75px;
        background: linear-gradient(to top, transparent, black);
        pointer-events: none;
    }

</style>

<nav id="mySidenav" class="sidenav">
   <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li>
          <a style="text-decoration: none;" href="{% url 'webplayer' %}">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">home</span> Home</span>
            </div>
          </a>
      </li>
       <a class="SideBarUserCollection" id="MyPlaylists" style="text-decoration: none;" href="{% url 'myPlaylists' %}">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">playlist_play</span> Playlists</span>
            </div>
          </a>
      </li>

      <li>
          <a class="SideBarUserCollection" id="myArtists" style="text-decoration: none;" href="{% url 'myArtists' %}">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">music_note</span> Artists</span>
            </div>
          </a>
      </li>
      <li>
          <a class="SideBarUserCollection" id="myAlbums" style="text-decoration: none;" href="{% url 'myAlbums' %} " >
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">album</span> Albums</span>
            </div>
          </a>
      </li>
<!--       <li>-->
<!--          <a class="SideBarUserCollection" id="myPodcasts" style="text-decoration: none;" href="{% url 'myPodcasts' %}">-->
<!--            <div class="btn btn-three">-->
<!--                <span><span class="material-icons" style="vertical-align: -4px;">ondemand_video</span> Podcasts</span>-->
<!--            </div>-->
<!--          </a>-->
<!--      </li>-->
<!--       <li>-->
<!--          <a style="text-decoration: none;" href="#">-->
<!--            <div class="btn btn-three">-->
<!--                <span><span class="material-icons" style="vertical-align: -4px;">radio</span> Radio</span>-->
<!--            </div>-->
<!--          </a>-->
<!--      </li>-->
       <li>
          <a class="ItemLink" style="text-decoration: none;" href="{% url 'webplayer/settings' %}">
            <div class="btn btn-three">
                <span><span class="material-icons" style="vertical-align: -4px;">settings</span> Settings</span>
            </div>
          </a>
       </li>
   </ul>
</nav>
<section class="Queue">
    <div class="QueueTitleContainer">
        <button class="QueueSettings material-icons md-18 md-light">settings</button>
        <span class="QueueTitle">QUEUE</span>
        <button class="QueueToggle material-icons md-18 md-light">expand_less</button>
    </div>
    <ul class="QueueContainer">
        <div class="TopShadow"></div>
        <li id="QueueLast2" class="QueueItem" data-uri="" parent-uri="">
            <img class="Album" src="" alt="Album" data-uri="">
            <div class="TrackInfoContainer">
                <p class="Song" data-uri="">Track Name</p>
                <span class="ArtistContainer">Track Artist(s)</span>
            </div>
        </li>
        <li id="QueueLast1" class="QueueItem" data-uri="" parent-uri="">
            <img class="Album" src="" alt="Album" data-uri="">
            <div class="TrackInfoContainer">
                <p class="Song" data-uri="">Track Name</p>
                <span class="ArtistContainer">Track Artist(s)</span>
            </div>
        </li>
        <li id="QueueCurrent" class="QueueItem" data-uri="" parent-uri="">
            <span class="QueuePointer material-icons md-18 md-light">chevron_right</span>
            <img class="Album" src="" alt="Album" data-uri="">
            <div class="TrackInfoContainer">
                <p class="Song" data-uri="">Track Name</p>
                <span class="ArtistContainer">Track Artist(s)</span>
            </div>
        </li>
        <li id="QueueNext1" class="QueueItem" data-uri="" parent-uri="">
            <img class="Album" src="" alt="Album" data-uri="">
            <div class="TrackInfoContainer">
                <p class="Song" data-uri="">Track Name</p>
                <span class="ArtistContainer">Track Artist(s)</span>
            </div>
        </li>
        <li id="QueueNext2" class="QueueItem" data-uri="" parent-uri="">
            <img class="Album" src="" alt="Album" data-uri="">
            <div class="TrackInfoContainer">
                <p class="Song" data-uri="">Track Name</p>
                <span class="ArtistContainer">Track Artist(s)</span>
            </div>
        </li>
    </ul>
</section>

<script>
    function openNav() {
      if (document.getElementById("mySidenav").hidden == true) {
          document.getElementById("mySidenav").hidden = false;
          document.getElementById("mySidenav").style.transition = "width 2s";
          document.getElementById("mySidenav").style.width = "auto";
      }
      else {
          document.getElementById("mySidenav").hidden = true;
          document.getElementById("mySidenav").style.width = "0px";
      }
    }

    // Toggles the Queue Visibility via arrows
    $('.Queue .QueueToggle').on('click', function() {
        let QueueContainer = $('.Queue .QueueContainer');
        if ($(QueueContainer).is(':visible')) {
            $(QueueContainer).slideUp();
            $(this).text('expand_more');
        }
        else if (!$(QueueContainer).is(':visible')) {
            $(QueueContainer).slideDown();
            $(this).text('expand_less');
        }
    });
</script>
