{% extends ajax|yesno:"webplayer/webplayer_ajax.html,webplayer/webplayer.html" %}
{% block content %}
    <h1> Home </h1>
<span>
     <h2> Home </h2>
    {{RecentlyPlayed}}
</span>
<!--<script>-->
<!--    recentPlay();-->



<!--function recentPlay() {-->
<!--    $.ajax({-->
<!--        type: "POST",-->
<!--        url: "{% url 'getRecentPlayed' %}",-->
<!--        data: {-->
<!--            csrfmiddlewaretoken: '{{ csrf_token }}',-->
<!--            limit: 10,-->
<!--        },-->
<!--        success: function (response) {-->
<!--            if (response != 'False') {-->
<!--                console.log(response);-->
<!--            } else {-->
<!--                console.log('Failed to get recently played');-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--}-->
<!--</script>-->

{% endblock content %}
