{% extends ajax|yesno:"webplayer/webplayer_ajax.html,webplayer/webplayer.html" %}
<!-- IMPORTANT: no spaces between anything for the extends argument -->


{% block content %}
<style>
   .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
   }
   /* Hide default HTML checkbox */
   .switch input {
   opacity: 0;
   width: 0;
   height: 0;
   }
   /* The slider */
   .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
   }
   .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   }
   input:checked + .slider {
   background-color: #646464;
   }
   input:focus + .slider {
   box-shadow: 0 0 1px #5f5f5f;
   }
   input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
   }
   /* Rounded sliders */
   .slider.round {
   border-radius: 34px;
   }
   .slider.round:before {
   border-radius: 50%;
   }
   .slide_long_container {
   width: 100%; /* Width of the outside container */
   }
   /* The slider itself */
   .slider_long {
   -webkit-appearance: none;  /* Override default CSS styles */
   appearance: none;
   width: 100%; /* Full-width */
   height: 25px; /* Specified height */
   background: #d3d3d3; /* Grey background */
   opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
   -webkit-transition: .2s; /* 0.2 seconds transition on hover */
   transition: opacity .2s;
   border-radius: 4px;
   }
   /* Mouse-over effects */
   .slider_long:hover {
   opacity: 1; /* Fully shown on mouse-over */
   }
   /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
   .slider_long::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   width: 25px; /* Set a specific slider handle width */
   height: 25px; /* Slider handle height */
   background: #5f5f5f; /* Green background */
   cursor: pointer; /* Cursor on hover */
   border-radius: 4px;
   }
   .slider_long::-moz-range-thumb {
   width: 25px; /* Set a specific slider handle width */
   height: 25px; /* Slider handle height */
   background: #4CAF50; /* Green background */
   cursor: pointer; /* Cursor on hover */
   }

</style>
<div class="container-fluid">
   <div class="row">
      <div class="col-6 Queue">
         <div class="row">
           <div class="col-sm-12">
               <h2>Recommendation Reference</h2>
           </div>
         </div>
         <hr class="col-xs-12" style="border: 1px solid #bfbfbf; margin-top: 0;">
         <div id="recommendationReference" class="row">
            <div class="col-6">
               <img src="" alt="Album"></img>
            </div>
            <div class="col-6">
               <div class="row">
                  TYPE: idk
               </div>
               <div class="row">
                  NAME: idk
               </div>
            </div>
         </div>
         <button id="recommend" class='col-12' style="color: darkgrey; border: 1px solid white;">GENERATE RECOMMENDATIONS</button>
         <ul id="generatedRecommendations" class="QueueContainer" style="width: 100%;">

         </ul>
      </div>
      <div class="col-6">
         <div class="row">
           <div class="col-sm-12">
               <h2>Target Features</h2>
           </div>
         </div>
         <hr class="col-xs-12" style="border: 1px solid #bfbfbf; margin-top: 0;">

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Acousticness: <span id="acousticness"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="acousticness_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Danceability: <span id="danceability"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="danceability_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Energy: <span id="energy"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="energy_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Instrumentalness: <span id="instrumentalness"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="instrumentalness_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Key: <span id="key"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="key_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Liveness: <span id="liveness"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="liveness_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Loudness: <span id="loudness"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="loudness_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Speechiness: <span id="speechiness"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="speechiness_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Tempo: <span id="tempo"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="tempo_slider">
               </div>
            </div>
         </div>

         <div class = row>
            <div class="col-sm-12">
               <h4 style="text-align: left">Valence: <span id="valence"></span></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider_long" id="valence_slider">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   let acousticness_slider = document.getElementById("acousticness_slider");
   let acousticness = document.getElementById("acousticness");
   acousticness.innerHTML = acousticness_slider.value; // Display the default slider value
   acousticness_slider.oninput = function() {
     acousticness.innerHTML = this.value;
   }

   let danceability_slider = document.getElementById("danceability_slider");
   let danceability = document.getElementById("danceability");
   danceability.innerHTML = danceability_slider.value; // Display the default slider value
   danceability_slider.oninput = function() {
     danceability.innerHTML = this.value;
   }

   let energy_slider = document.getElementById("energy_slider");
   let energy = document.getElementById("energy");
   energy.innerHTML = acousticness_slider.value; // Display the default slider value
   energy_slider.oninput = function() {
     energy.innerHTML = this.value;
   }

   let instrumentalness_slider = document.getElementById("instrumentalness_slider");
   let instrumentalness = document.getElementById("instrumentalness");
   instrumentalness.innerHTML = instrumentalness_slider.value; // Display the default slider value
   instrumentalness_slider.oninput = function() {
     instrumentalness.innerHTML = this.value;
   }

   let key_slider = document.getElementById("key_slider");
   let key = document.getElementById("key");
   key.innerHTML = key_slider.value; // Display the default slider value
   key_slider.oninput = function() {
     key.innerHTML = this.value;
   }

   let liveness_slider = document.getElementById("liveness_slider");
   let liveness = document.getElementById("liveness");
   liveness.innerHTML = liveness_slider.value; // Display the default slider value
   liveness_slider.oninput = function() {
     liveness.innerHTML = this.value;
   }

   let loudness_slider = document.getElementById("loudness_slider");
   let loudness = document.getElementById("loudness");
   loudness.innerHTML = loudness_slider.value; // Display the default slider value
   loudness_slider.oninput = function() {
     loudness.innerHTML = this.value;
   }

   let speechiness_slider = document.getElementById("speechiness_slider");
   let speechiness = document.getElementById("speechiness");
   speechiness.innerHTML = speechiness_slider.value; // Display the default slider value
   speechiness_slider.oninput = function() {
     speechiness.innerHTML = this.value;
   }

   let tempo_slider = document.getElementById("tempo_slider");
   let tempo = document.getElementById("tempo");
   tempo.innerHTML = tempo_slider.value; // Display the default slider value
   tempo_slider.oninput = function() {
     tempo.innerHTML = this.value;
   }

   let valence_slider = document.getElementById("valence_slider");
   let valence = document.getElementById("valence");
   valence.innerHTML = valence_slider.value; // Display the default slider value
   valence_slider.oninput = function() {
     valence.innerHTML = this.value;
   }

   $('#recommend').on('click', function() {
      let songFeatures = {
         'acousticness': acousticness_slider.value,
         'danceability': danceability_slider.value,
         'energy': energy_slider.value,
         'instrumentalness': instrumentalness_slider.value,
         'key': key_slider.value,
         'liveness': liveness_slider.value,
         'loudness': loudness_slider.value,
         'speechiness': speechiness_slider.value,
         'tempo': tempo_slider.value,
         'valence': valence_slider.value
      }
      console.log(songFeatures);
      $.ajax({
         type: 'POST',
         url: "{% url 'getRecommendations' %}",
         data: {
            csrfmiddlewaretoken: csrftoken,
            features: JSON.stringify(songFeatures)
         },
         success: function(response) {
            if (response != 'False') {
               $('#generatedRecommendations').empty();
               console.log(response);
               let tracks = response['tracks'];
               for (let i = 0; i < tracks.length; i++) {
                  let currentTrack = tracks[i];
                  let trackURI = currentTrack['uri'];
                  let trackName = currentTrack['name'];
                  let albumURI = currentTrack['album']['uri'];
                  let albumArt = currentTrack['album']['images'][2]['url'];
                  let trackArtists = getArtistAsLinks(currentTrack['artists']);
                  $('#generatedRecommendations').append(`
                     <li class="QueueItem" data-uri="${trackURI}" parent-uri="${albumURI}">
                        <img class="Album" src="${albumArt}" alt="Album" data-uri="${albumURI}">
                        <div class="TrackInfoContainer">
                            <p class="Song" data-uri="${trackURI}">${trackName}</p>
                            <span class="ArtistContainer">${trackArtists}</span>
                        </div>
                    </li>
                  `);
               }

            } else {
               console.log('Failed to collect follow status');
            }
         },
      });
   });


</script>
{% endblock content %}