<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="{% static 'lib/jquery/jquery-3.6.0.min.js'%}"></script>
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'webplayer/splash.css' %}">
        <title>Modivibe - An Alternative Spotify Player</title>
    </head>
    <nav>
        <ul class="splashNav">
            <!--Change to an image at a later time, requires more work-->
            <li><a class="logo" href="#" > MODIVIBE </a></li>

            <!--The not logo buttons-->
            <div class="navButtons">
                <li> <a href="#">Overview</a></li>
                <li ><a href="{{ loginurl }}" >Login with Spotify</a></li>
            </div>
        </ul>
    </nav>
    <body>
        <div class='container-fluid overviewText'>
            <div class='row align-items-center'>
                <div class='col-6'>
                    <h1>Welcome to Modivibe!</h1>
                    <h5>
                        Modivibe is a versatile, web-based alternative to Spotify filled with ways to customize your experience. Connect with your Spotify account for free now!
                    </h5>
                    <button type="button" class="btn btn-lg" onclick="location.href='{{ loginurl }}'">Connect</button>
                    <p style='font-size: small; font-weight: 400;'> *Spotify Premium is REQUIRED to use Modivibe</p>
                </div>
                <div class='col-6 align-self-center'>
                    <p>put graphic here</p>
                </div>
            </div>
            <div class='row align-items-center'>
                <div class='col-6'>
                    <p class="slideLeft">put graphic here</p>
                </div>
                <div class='col-6'>
                    <h5>
                        <h1>In Browser Music Playback</h1>
                        <h5>Listen to songs in browser with the standard play/pause, skip, shuffle, repeat, and volume controls.</h5>
                    </h5>
                </div>
            </div>
            <div class='row align-items-center'>
                <div class='col-6'>
                    <h5>
                        <h1>On-Demand Recommendation System</h1>
                        <h5>A new recommendation algorithm catered to the user's prefrences.</h5>
                    </h5>
                </div>
                <div class='col-6'>
                    <p>put graphic here</p>
                </div>
            </div>
            <div class='row align-items-center'>
                <div class='col-6'>
                    <p>put graphic here</p>
                </div>
                <div class='col-6'>
                    <h5>
                        <h1>Privacy Policy</h1>
                        <h5>We collect the user's data from Spotify in order to give a personalized experience. We do not sell or give any of the user's information to a third party. However, we do use 3rd party software such as Spotify API and Google Analytics . This website also utilizes Cookies in order to remember user preferences. By using this website you agree to having your data collected and used in the way we described.</h5>
                    </h5>
                </div>
            </div>
            <div class='row align-items-center'>
                <div class='col-4'>

                </div>
                <div class='col-4'>
                    <h5>
                        <h1>Try us Out!</h1>
                        <button type="button" class="btn btn-lg" onclick="location.href='{{ loginurl }}'">Connect</button>
                    </h5>
                </div>
                <div class='col-4'>

                </div>
            </div>
        </div>
        <div class="row align-items-center foot">
            <div class='col-4' style='text-align: left;'>
                <p style='font-size: medium; font-weight: 400;'>&nbsp;&nbsp;©Modivibe 2021</p>
            </div>
            <div class='col-4'>
                <p>{social media icons}</p>
            </div>
            <div class='col-4'>
                <p>{powered by spotify picture and symbol}</p>
            </div>
        </div>
    </body>
</html>

