<!-- This file serves as a basis for the overall webplayer HTML formatting on each page. -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="{% static 'lib/jquery/jquery-3.6.0.min.js'%}"></script>
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}">
        <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'webplayer/script.js' %}" async></script>
        <link rel="stylesheet" type="text/css" href="{% static 'webplayer/main.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script src="{% static 'webplayer/util.js' %}" async></script>
        {% if title %} <title>Modivibe - {{ title }}</title>
        {% else %} <title>Modivibe</title>
        {% endif %}
    </head>
    <body>
        <div class="min-vh-100 p-0 d-flex flex-column overflow-hidden">
            <div class="container-fluid no-gutters d-flex flex-column flex-fill" style="overflow-y: auto !important; overflow-x:hidden !important;">
                <div class="row flex-shrink-0">
                    <div class="col-12">
                        <div class="header">{% include 'webplayer/_header.html' %}</div>
                    </div>
                </div>
                <div class="row flex-fill">
                    <div class="col-12 center overflow-auto flex-shrink-1 position-relative" style="overflow-x: hidden;">
                        <div class="sidebar">{% include 'webplayer/_sidebar.html' %}</div>
                        <div class="content">{% block content %}{% endblock content %}</div>
                    </div>
                </div>
                <div class="row flex-shrink-1">
                    <div class="col-12">
                        <div class="footer" style="bottom: 0; position: fixed; width: 100%;">{% include 'webplayer/_footer.html' %}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mouse-menu">
            <ul>
                <li><button>Option 1</button></li>
                <li><button>Option 2</button></li>
                <li><button>Option 3</button></li>
            </ul>
        </div>
    </body>
<script>
    $(document).on('click', '#playPlaylistButton', function(e) {
        console.log('Attempting to play playlist: ' + $(this).data('uri'));
       $.ajax({
           type: 'POST',
           url: "{% url 'setPlayback' %}",
           data: {
               csrfmiddlewaretoken: '{{ csrf_token }}',
               device_id: deviceID,
               status: 'play',
               context_uri: $(this).data('uri')
           },
           success: function(response) {
               if (response === 'True') {
                   console.log('Successfully played requested playlist');
               }
           }
       });
    });

    $(document).on('contextmenu', function(e) {
        if (e.ctrlKey) return; // Temporary method for overcoming the mouse-menu
        e.preventDefault(); // Prevent browser right-click menu
        $('.mouse-menu').hide();

        // Determine mouse-menu options depending on click context
        let clickTarget = e.target;
        if ($(clickTarget).hasClass('Artist') || $(clickTarget).hasClass('SongArtist') || $(clickTarget).parents('.Artist, .SongArtist').length) {
            $('.mouse-menu ul').html(`
                <li><button>Play Artist</button></li>
                <li><button>Follow Artist</button></li>
                <li><button>Go to Artist</button></li>
            `);
        }
        else if ($(clickTarget).hasClass('Playlist') || $(clickTarget).parents('.Playlist').length) {
            $('.mouse-menu ul').html(`
                <li><button>Play Playlist</button></li>
                <li><button>Add to Queue</button></li>
                <li><button>Go to Playlist</button></li>
            `);
        }
        else if ($(clickTarget).hasClass('Album') || $(clickTarget).parents('.Album').length) {
            $('.mouse-menu ul').html(`
                <li><button>Play Album</button></li>
                <li><button>Add to Queue</button></li>
                <li><button>Go to Album</button></li>
            `);
        }
        else if ($(clickTarget).hasClass('Podcast') || $(clickTarget).parents('.Podcast').length) {
            $('.mouse-menu ul').html(`
                <li><button>Play Podcast</button></li>
                <li><button>Go to Podcast</button></li>
            `);
        }
        else if ($(clickTarget).hasClass('Song') || $(clickTarget).parents('.Song').length) {
            $('.mouse-menu ul').html(`
                <li><button>Play Song</button></li>
                <li><button>Add to Queue</button></li>
                <li><button>Add to Playlist</button></li>
                <li><button>Add to Liked Songs</button></li>
                <li><button>Go to Artist</button></li>
                <li><button>Go to Album</button></li>
            `);
        } else {
            return;
        }

        // Ensure horizontal calculation of menu remains on the page
        let mouseX = e.pageX;
        let menuWidth = $('.mouse-menu').width();
        if (window.innerWidth < mouseX + menuWidth) {
            mouseX = mouseX - menuWidth;
        }

        // Ensure vertical calculation of the menu remains on the page
        let mouseY = e.pageY;
        let menuHeight = $('.mouse-menu').height();
        if (window.innerHeight < mouseY + menuHeight) {
            mouseY = mouseY - menuHeight;
        }

        $('.mouse-menu').css('left', mouseX).css('top', mouseY);
        $('.mouse-menu').show();
    });

    $(document).on('click', function(e) {
        if ($('.mouse-menu').is(':visible')) {
            if ($(e.target).parents('.mouse-menu').length) return;
            $('.mouse-menu').hide();
        }
    });
</script>
</html>
