<!-- This file serves as a basis for the overall webplayer HTML formatting on each page. -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="{% static 'lib/jquery/jquery-3.6.0.min.js'%}"></script>
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}">
        <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'webplayer/script.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'webplayer/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'webplayer/queue.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script src="{% static 'webplayer/util.js' %}"></script>
        <link rel="icon" href="{% static 'Artboard_1_0.5x.png'%}">
        <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
        <script src="{% static 'webplayer/visualizer.js' %}"></script>
        <title>Modivibe</title>
    </head>
    <body>
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

    </style>
    <div id='container'></div>
        <div class="min-vh-100 p-0 d-flex flex-column overflow-hidden">
            <div class="container-fluid no-gutters d-flex flex-column flex-fill">
                <div class="row flex-shrink-0">
                    <div class="col-12">
                        <div class="header colorScheme">{% include 'webplayer/_header.html' %}</div>
                    </div>
                </div>
                <div class="row flex-fill">
                    <div class="col-12 center overflow-auto flex-shrink-1 position-relative" style="overflow-x: hidden;">
                        <div class="sidebar">
                            {% include 'webplayer/_sidebar.html' %}
                        </div>
                        <div class="content" style="overflow-x: hidden; overflow-y: auto;height: calc(100vh - 175px);">
                            {% block content %}{% endblock content %}

                        </div>
                    </div>
                </div>
                <div id="sketch_one"></div>
                        <script>
                            global_width = $(".content").width();
                            left = $(".content").offset().left;
                            console.log(global_width);
                            new p5(sketch, 'sketch_one');
                            let current = 'sketch_one';
                        </script>
                <div class="row flex-shrink-1">
                    <div class="col-12">
                        <div class="footer colorScheme" style="bottom: 0; position: fixed; width: 100%; box-sizing: border-box !important; height: auto">{% include 'webplayer/_footer.html' %}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mouse-menu">
            <ul>
                <li><button>Option 1</button></li>
                <li><button>Option 2</button></li>
                <li><button>Option 3</button></li>
            </ul>
        </div>
    </body>
<script>
    const csrftoken = getCookie('csrftoken');

    $(document).on('click', '.PlayRequest', function(e) {
        let contextURI, offsetURI;
        if ($(this).data('parent-uri')) {
            contextURI = $(this).data('parent-uri');
            offsetURI = $(this).data('uri');
        } else {
            contextURI = $(this).data('uri');
            offsetURI = null;
        }
        console.log(`Attempting to play context "${contextURI}" with offset "${offsetURI}"`);

        $.ajax({
            type: 'POST',
            url: "{% url 'setPlayback' %}",
            data: {
               csrfmiddlewaretoken: csrftoken,
               device_id: deviceID,
               status: 'play',
               context_uri: contextURI,
               offset_uri: offsetURI
            },
            success: function(response) {
               if (response === 'True') {
                   console.log('Successfully played request');
                   hideMouseMenu();
               }
            }
        });
    });

    $(document).on('click', '.FollowRequest', function (e) {
        let contextURI = $(this).attr('data-uri');
        let followStatus = $(this).attr('data-following') === 'true' ? 'false' : 'true';
        console.log(`Attempting to toggle follow for artist ${contextURI}`);
        $.ajax({
            type: 'POST',
            url: "{% url 'toggleFollow' %}",
            data: {
                csrfmiddlewaretoken: csrftoken,
                artist: contextURI,
                follow: followStatus
            },
            success: function(response) {
                if (response == 'True') {
                    console.log(`Successfully toggled follow for artist`);
                    updateFollowStatus();
                }
                else {
                    console.log(`Failed to toggle follow for artist`);
                }
            },
        });
    });

    $(document).on('click', '.LikeRequest', function (e) {
        let contextURI = $(this).attr('data-uri');
        let likeStatus = $(this).attr('data-liked') === 'true' ? 'false' : 'true';
        console.log(`Attempting to toggle like for ${contextURI}`);
        $.ajax({
            type: 'POST',
            url: "{% url 'toggleLike' %}",
            data: {
                csrfmiddlewaretoken: csrftoken,
                track: contextURI,
                like: likeStatus
            },
            success: function(response) {
                if (response == 'True') {
                    console.log(`Successfully toggled like for track`);
                    updateLikeStatus();
                }
                else {
                    console.log(`Failed to toggle like for track`);
                }
            },
        });
    });

    $(document).on('click', '.RecommendationRequest', function(e) {
        e.preventDefault();
        let contextURI = $(this).attr('data-uri');
        console.log(`Attempting to pass information for recommendations based of: ${contextURI}`);
        $.ajax({
            type: "POST",
            url: "{% url 'recommendations' %}",
            data: {
                csrfmiddlewaretoken: csrftoken,
                context_uri: contextURI
            },
            success: function(response) {
                if(response.status == 200) {
                    $(".content").first().html(response.page);
                    $("html, .content").animate({ scrollTop: 0 }, "fast");
                    hideMouseMenu();
                }
                else {
                    window.location="/";
                }
            }
        });
    });

    $(document).on('contextmenu', function(e) {
        if (e.ctrlKey) return; // Temporary method for overcoming the mouse-menu
        e.preventDefault(); // Prevent browser right-click menu
        $('.mouse-menu').hide();


        // Determine mouse-menu options depending on click context
        let clickTarget = e.target;
        let dataURI = $(clickTarget).attr('data-uri') ?? null;
        if ($(clickTarget).hasClass('Artist') || $(clickTarget).parents('.Artist').length) {
            if (dataURI === null) {
                let parentDataURI = $(clickTarget).parents('.Artist')[0];
                dataURI = parentDataURI ? $(parentDataURI).data('uri') : null;
            }
            $('.mouse-menu ul').html(`
                <li><button class="PlayRequest" data-uri="${dataURI}">Play Artist</button></li>
                <li><button class="FollowRequest MouseMenuItem" data-uri="${dataURI}">Follow Artist</button></li>
                <li><button>Go to Artist</button></li>
                <li><button class="RecommendationRequest" data-uri="${dataURI}">Recommend Songs</button></li>
            `);
            updateFollowStatus()
        }
        else if ($(clickTarget).hasClass('Playlist') || $(clickTarget).parents('.Playlist').length) {
            if (dataURI === null) {
                let parentDataURI = $(clickTarget).parents('.Playlist')[0];
                dataURI = parentDataURI ? $(parentDataURI).data('uri') : null;
            }
            $('.mouse-menu ul').html(`
                <li><button class="PlayRequest" data-uri="${dataURI}">Play Playlist</button></li>
                <li><button>Add to Queue</button></li>
                <li><button>Go to Playlist</button></li>
                <li><button class="RecommendationRequest" data-uri="${dataURI}">Recommend Songs</button></li>
            `);
        }
        else if ($(clickTarget).hasClass('Album') || $(clickTarget).parents('.Album').length) {
            if (dataURI === null) {
                let parentDataURI = $(clickTarget).parents('.Album')[0];
                dataURI = parentDataURI ? $(parentDataURI).data('uri') : null;
            }
            $('.mouse-menu ul').html(`
                <li><button class="PlayRequest" data-uri="${dataURI}">Play Album</button></li>
                <li><button>Add to Queue</button></li>
                <li><button>Go to Album</button></li>
                <li><button class="RecommendationRequest" data-uri="${dataURI}">Recommend Songs</button></li>
            `);
        }
        else if ($(clickTarget).hasClass('Podcast') || $(clickTarget).parents('.Podcast').length) {
            if (dataURI === null) {
                let parentDataURI = $(clickTarget).parents('.Podcast')[0];
                dataURI = parentDataURI ? $(parentDataURI).data('uri') : null;
            }
            $('.mouse-menu ul').html(`
                <li><button class="PlayRequest" data-uri="${dataURI}">Play Podcast</button></li>
                <li><button>Go to Podcast</button></li>
            `);
        }
        else if ($(clickTarget).hasClass('Song') || $(clickTarget).parents('.Song').length) {
            if (dataURI === null) {
                let parentDataURI = $(clickTarget).parents('.Song')[0];
                dataURI = parentDataURI ? $(parentDataURI).data('uri') : null;
            }
            $('.mouse-menu ul').html(`
                <li><button>Add to Queue</button></li>
                <li><button>Add to Playlist</button></li>
                <li><button class="LikeRequest MouseMenuItem" data-uri="${dataURI}">Like Song</button></li>
                <li><button>Go to Artist</button></li>
                <li><button>Go to Album</button></li>
                <li><button class="RecommendationRequest" data-uri="${dataURI}">Recommend Songs</button></li>
            `);
            updateLikeStatus();
        } else {
            return;
        }

        // Ensure horizontal calculation of menu remains on the page
        let mouseX = e.pageX;
        let menuWidth = $('.mouse-menu').width();
        if (window.innerWidth < mouseX + menuWidth) {
            mouseX = mouseX - menuWidth;
        }

        // Ensure vertical calculation of the menu remains on the page
        let mouseY = e.pageY;
        let menuHeight = $('.mouse-menu').height();
        if (window.innerHeight < mouseY + menuHeight) {
            mouseY = mouseY - menuHeight;
        }

        $('.mouse-menu').css('left', mouseX).css('top', mouseY);
        $('.mouse-menu').show();
    });

    $(document).on('click', function(e) {
        if ($('.mouse-menu').is(':visible')) {
            if ($(e.target).parents('.mouse-menu').length) return;
            $('.mouse-menu').hide();
        }
    });

    // Enables the material icon play arrow on the song list
    $(document).on('mouseenter', '.SongItems > .Song', function(e) {
        let $playNumber = $(this).find('.PlayRequest');
        $playNumber.addClass('material-icons md-24 md-light');
        $playNumber.text('play_arrow');
    });

    // Disables the material icon play arrow on the song list
    $(document).on('mouseleave', '.SongItems > .Song', function(e) {
        let $playNumber = $(this).find('.PlayRequest');
        $playNumber.text($playNumber.data('number'));
        $playNumber.removeClass('material-icons md-24 md-light');
    });

    function updateFollowStatus() {
        let followButtons = $('.FollowRequest');
        let affectedURIs = [];
        $(followButtons).each(function(){
            let contextURI = $(this).attr('data-uri');
            if (affectedURIs.includes(contextURI)) return;
            affectedURIs.push(contextURI);
            $.ajax({
                type: 'POST',
                url: "{% url 'isFollowing' %}",
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    artist: contextURI
                },
                success: function(response) {
                    if (response != 'False') {
                        console.log('Successfully collected follow status, now updating associated buttons');
                        response = JSON.parse(response);
                        let affectedFollowButtons = $(`.FollowRequest[data-uri="${response['artist']}"]`);
                        $(affectedFollowButtons).each(function () {
                            $(this).attr('data-following', response['following']);
                            let followText = "";
                            if ($(this).hasClass('MouseMenuItem')) {
                                followText = $(this).attr('data-following') === 'true' ? 'Unfollow Artist' : 'Follow Artist';
                            } else {
                                followText = $(this).attr('data-following') === 'true' ? 'person_remove_alt_1' : 'person_add_alt';
                            }
                            $(this).text(followText);
                        });
                    } else {
                        console.log('Failed to collect follow status');
                    }
                },
            });
        });
    }

    function updateLikeStatus() {
        let likeButtons = $('.LikeRequest');
        let affectedURIs = [];
        $(likeButtons).each(function(){
            let contextURI = $(this).attr('data-uri');
            if (affectedURIs.includes(contextURI)) return;
            affectedURIs.push(contextURI);
            $.ajax({
                type: 'POST',
                url: "{% url 'isLiked' %}",
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    track: contextURI
                },
                success: function(response) {
                    if (response != 'False') {
                        console.log('Successfully collected like status, now updating associated buttons');
                        response = JSON.parse(response);
                        let affectedLikeButtons = $(`.LikeRequest[data-uri="${response['track']}"]`);
                        $(affectedLikeButtons).each(function () {
                            $(this).attr('data-liked', response['liked']);
                            let likeText = "";
                            if ($(this).hasClass('MouseMenuItem')) {
                                likeText = $(this).attr('data-liked') === 'true' ? 'Unlike Song' : 'Like Song';
                            } else {
                                likeText = $(this).attr('data-liked') === 'true' ? 'favorite_border' : 'favorite';
                            }
                            $(this).text(likeText);
                        });
                    } else {
                        console.log('Failed to collect like status');
                    }
                },
            });
        });
    }

    function hideMouseMenu() {
        if ($('.mouse-menu').is(':visible')) {
           $('.mouse-menu').hide();
       }
    }

</script>
</html>
